.filter-item {
  background-color: white;
  padding: 15px;
  min-width: 15%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  // white-space: line;

  // .filter-option {
  //   background-color: red;
  // }
}
